/* Global focus outline reset */
*:focus:not(:focus-visible) {
  outline: none;
}

:root {
  --user-font-scale: 1rem - 16px;
  --max-width: calc(100% - 1rem);
}

@media (min-width: 50em) {
  :root {
    --max-width: 46em;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  font-size: 1rem;
  font-size: clamp(0.9rem, 0.75rem + 0.375vw + var(--user-font-scale), 1rem);
}

/* Supporting Content */

code {
  --border-radius: 3px;
  --padding-block: 0.2rem;
  --padding-inline: 0.33rem;

  font-family: var(--font-mono);
  font-size: 0.85em;
  color: inherit;
  background-color: var(--theme-code-inline-bg);
  padding: var(--padding-block) var(--padding-inline);
  margin: calc(var(--padding-block) * -1) -0.125em;
  border-radius: var(--border-radius);
  word-break: break-word;
}

pre.astro-code > code {
  all: unset;
}

pre > code {
  font-size: 1em;
}

:target {
  scroll-margin: calc(var(--theme-sidebar-offset, 0rem) + 2rem) 0 2rem;
}

/* Highlight TOC header link matching the current scroll position */
.current-header-link {
  background-color: var(--theme-bg-accent);
  /* Indicates the current heading for forced colors users in older browsers */
  outline: 1px solid transparent;
}

.current-header-link a {
  color: var(--theme-text);
}

.header-link {
  font-size: 1em;
  transition: border-inline-start-color 100ms ease-out, background-color 200ms ease-out;
  border-left: 4px solid var(--theme-divider);
}

.header-link a {
  display: inline-flex;
  gap: 0.5em;
  width: 100%;
  font: inherit;
  padding: 0.4rem 0;
  line-height: 1.3;
  color: inherit;
  text-decoration: none;
  unicode-bidi: plaintext;
}

@media (min-width: 50em) {
  .header-link a {
    padding: 0.275rem 0;
  }
}

.header-link:hover,
.header-link:focus,
.header-link:focus-within {
  border-inline-start-color: var(--theme-accent-secondary);
}

.header-link:hover a,
.header-link a:focus {
  color: var(--theme-text);
  text-decoration: underline;
}
.header-link svg {
  opacity: 0.6;
}
.header-link:hover svg {
  opacity: 0.8;
}

/* Add line and padding on the left side */
.header-link {
  padding-inline-start: 1rem;
}
.header-link.depth-3 {
  padding-inline-start: 2rem;
}
.header-link.depth-4 {
  padding-inline-start: 3rem;
}
