name: Release

on:
  push:
    branches:
      - main
      - alpha
      - beta
      - next

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push' && github.event.repository.full_name == github.repository &&
      contains('refs/heads/main,refs/heads/alpha,refs/heads/beta,refs/heads/next', github.ref)
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
      - uses: pnpm/action-setup@v2
        with:
          run_install: true

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          cd packages/eslint-config-emperor
          npx semantic-release
